.td-list_container {
  color: #000;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  height: 500px;
  min-width: 250px;
  max-width: 300px;
  background: #fff;
  margin: 30px 0;
  border-radius: 5%;
  padding-top: 2px;
  overflow: hidden;
  border: 2px solid #c3c3c3;
}

.td-list_name {
  background-color: #c3c3c3;
  margin: 0;
  letter-spacing: -2px;
  padding: 5px 0;
  text-decoration: underline;
}

.td-list_task {
  text-decoration: none;
  font-family: Arial;
  text-decoration: none;
  font-size: 12px;
  padding: 6px 0;
}

.td-list_add_field {
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  outline-color: var(--backgroundBlue);
}

.td-list_add_task_box {
  background-color: #c3c3c3;
  padding-bottom: 10px;
  height: 50px;
}

.td-list_add_cta {
  margin-left: 5px;
  padding: 5px;
  border-radius: 10%;
  outline: none;
}

.td-list_add_cta:active {
  background: var(--backgroundBlue);
}

.td-task_box {
  height: 100%;
}

.td-task-wrapper {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.td-remove_task {
  height: 26px;
  width: 26px;
  color: white;
  background-color: tomato;
}

input[type=checkbox] {
	cursor: pointer;
	position: relative;
  visibility: hidden;
  margin-left: 5px; 
}

input[type=checkbox]:after {
	border: 1px solid #166B94;
	border-radius: 3px;
	color: #fff;
	content: "";
	display: block;
	height: 16px;
	line-height: 16px;
	text-align: center;
	visibility: visible;
	width: 16px;
}

input[type=checkbox]:checked:after {
	border: 1px solid #979797;
	color: #979797;
	content: "✓";
}

input[type=checkbox]:checked + label {
	color: #979797;
	font-weight: normal;
	text-decoration: line-through;
}

input[type=checkbox] + label + button {
  margin-right: 5px;
  }

  input[type=checkbox]:checked + label + button {
    background: #979797;
    }

label {
	color: #166B94;
	font-weight: bold;
	margin-left: 12px;
}