.td-list_container {
  color: #000;
  display: inline-block;
  height: 500px;
  width: 325px;
  background: #fff;
  margin: 1.5px;
  border-radius: 5%;
  padding-top: 2px;
  overflow: hidden;
  border: 1px solid #c3c3c3;
}

.td-list_name {
  background-color: #c3c3c3;
  margin: 0;
  padding: 5px 0;
  text-decoration: underline;
}

.td-list_task {
  text-decoration: none;
  font-family: Arial;
  text-decoration: none;
  font-size: 12px;
}

.td-remove_task {
  background-color: tomato;
}

.td-list_add_task_box {
  background-color: #c3c3c3;
  padding-bottom: 10px;
  height: 50px;
}

.td-list_add_cta {
  margin-left: 5px;
  padding: 2.5px;
  border-radius: 10%;
  outline: none;
}

.td-list_add_cta:active{
  background: var(--backgroundBlue)
}

.td-list_add_field {
  padding: 2.5px;
  border-radius: 10%;
  border: 1px solid #c3c3c3;
  outline-color: var(--backgroundBlue);
}